.AddCategoryContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;
}
.ProfessionalCategoryText {
    font-family: NunitoSans-Bold;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #21262b;
}
.AddSubCategory{
    height: 36px;
    border-radius: 2px;
    background-color: #0883a7;
    font-family: NunitoSans-SemiBold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}
.teacherTable{
    border-radius: 2px;
    border: solid 1px #e1e2e3;
    background-color: #ffffff;
    padding: 18px;
    display: flex;
    flex-direction: column;
}
.key{
    font-family: NunitoSans-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #595c60;
    margin-bottom: 12px;
    width: 30%;
}
.value{
    width: 70%;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hidden {
    display: none;
}