@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(./Gilroy-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(./Roboto-Medium.ttf) format('truetype');
}