.container{
  margin-bottom: 24px;
}
.heading{
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  margin-bottom: 14px;
}
.inputContainer{
  height: 44px;
  padding: 10.5px 17px 10.5px 17px;
  border-radius: 12px;
  border: solid 1px #d3d5d9;
  background-color: #fff;
  align-items: center;
  display: flex;
}
.input{
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #050505;
  width: 100%;
}
.textField{
  width: 100%;
}