.container{
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
}

.growIcon{
    height: 57px;
    width: 97px;
}